<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="pdfkit-page-size" content="Legal"/>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <title>{{ data['title'] }}</title>

    <style>
      html {
        box-sizing: border-box;
      }
      
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      .row {
        width: 100%;
        display: inline-block;
      }

      .row::before,
      .row::after {
        display: table;
        content: " ";
        clear: both;
      }

      .column {
        padding-right: 16px;
      }

      .column:last-child {
        padding: 0;
      }
    </style>
  </head>
  <body>
    <table
      width="100%"
    >
      <tr>
        <td width="50%">
          <h1>
            E-tiket
          </h1>
        </td>

        <td width="50%">
          &nbsp;
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div style="margin-bottom: 16px">
            {{ data['title_type'] }}
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div style="position:relative; margin-bottom: 32px;">
            <div class="row" style="position:relative; width: 100%;">
              <div class="column" style="float: left; width: 30%; height: 100%;">
                <h5>
                  Code
                </h5>

                <h3>
                  {{ data.data.booking.code }}
                </h3>
              </div>
  
              <div class="column" style="float: left; width: 70%;">
                <div class="row">
                  <h3>
                    {{ data.data.booking.item.name }} | {{ data.data.booking.item.mountain.name }}
                  </h3>

                  <p>
                    {{ data.data.booking.item.mountain.formatted_address }}
                  </p>
                </div>
              </div>
            </div>

            <div class="row" style="position:relative; width: 100%;">
              <div class="column" style="float: left; width: 30%; content: ''; display: block;">
                &nbsp;
              </div>
  
              <div class="column" style="float: left; width: 70%;">
                <div class="row" style="position:relative; width: 100%;">
                  <div class="column" style="float: left; width: 50%; content: ''; display: block;">
                    <h5 style="margin: 0; padding: 0;">
                      Checkin
                    </h5>

                    <div style="position: relative; width: 100%;">
                      <h2 style="margin: 0; padding: 0;">
                        {{ data.data.booking.checkin_date_formatted }}
                      </h2>
                    </div>
                  </div>

                  <div class="column" style="float: left; width: 50%; content: ''; display: block;">
                    <h5 style="margin: 0; padding: 0;">
                      Checkout
                    </h5>

                    <div style="position: relative; width: 100%;">
                      <h2 style="margin: 0; padding: 0;">
                        {{ data.data.booking.checkout_date_formatted }}
                      </h2>
                    </div>
                  </div>
                </div>

                <div class="row" style="position:relative; width: 100%;">
                  <h3>
                    Rules
                  </h3>

                  <p>
                    {{ data.data.booking.item.rules }}
                  </p>
                </div>
              </div>
            </div>

            <div style="background: rgba(0,0,0,0.1); width: 100%; height: 2px; content: ''; margin-top: 32px;"></div>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div style="position:relative; margin-bottom: 32px;">
            <div class="row" style="position:relative; width: 100%;">
              <div class="column" style="float: left; width: 30%;">
                <div style="position: relative; width: 100%; height: 200px; background: url('{{ data.data.booking.item.avatar }}'); background-repeat: no-repeat; background-size: contain;"></div>
              </div>
  
              <div class="column" style="float: left; width: 70%;">
                <div class="row" style="padding-bottom: 8px;">
                  <h3 style="margin: 0; padding: 0;">
                    Detail Pesanan
                  </h3>
                </div>

                <div class="row" style="margin-bottom: 8px;">
                  <div class="row">
                    <div class="column" style="float: left; width: 50%; content: ''; display: block;">
                      Tamu
                    </div>

                    <div class="column" style="float: left; width: 50%; content: ''; display: block;">
                      {% for itemVisitor in data.data.booking.passenger_manifest %}
                      <div class="row">
                        - {{ itemVisitor.fullname }}
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div style="background: rgba(0,0,0,0.1); width: 100%; height: 2px; content: ''; margin-top: 8px;"></div>
                </div>

                <div class="row" style="margin-bottom: 8px;">
                  <div class="row">
                    <div class="column" style="float: left; width: 50%; content: ''; display: block;">
                      Jumlah Tamu
                    </div>

                    <div class="column" style="float: left; width: 50%; content: ''; display: block;">
                      {{ data.data.booking.passenger_manifest|length }} Tamu
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="background: rgba(0,0,0,0.1); width: 100%; height: 2px; content: ''; margin-top: 32px;"></div>

            <div class="row" style="position:relative; width: 100%;">
              <p>
                Tunjukkan e-tiket ini kepada petugas saat checkin dan checkout
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <!-- <h1>{{ data }}</h1>
    <h4>Hello World Eticket :)</h4> -->
  </body>
</html>